<!DOCTYPE html>
<html lang="en-US">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Free responsive business website template</title>
      <link rel="stylesheet" href="css/components.css">
      <link rel="stylesheet" href="css/icons.css">
      <link rel="stylesheet" href="css/responsee.css">
      <link rel="stylesheet" href="owl-carousel/owl.carousel.css">
      <link rel="stylesheet" href="owl-carousel/owl.theme.css"> 
      <!-- CUSTOM STYLE -->
      <link rel="stylesheet" href="css/template-style.css"> 
      <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
      <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
      <script type="text/javascript" src="js/jquery-ui.min.js"></script>    
   </head>
   <body class="size-1140">
      <!-- TOP NAV WITH LOGO -->  
      <header>
         <nav>
            <div class="line">
               <!-- Mobile version of logo -->
               <div class="logo logo-small">
                 <a href="index.html"> <br /><strong>C REP</strong></a>
               </div>  
               
               <div class="top-nav">              

                  <div class="s-12 l-5">
                     <ul class="right top-ul chevron">
                        <li><a href="index.html">Home</a>
                        </li>
                        <li><a href="login.html">LOGIN</a>
                        </li>
                        <li><a href="services.html">Services</a>
                        </li>
                     </ul>
                  </div> 
                  <ul class="s-12 l-2">
                     <li class="logo hide-s hide-m">
                        <a href="index.html"> <br /><strong>C REP</strong></a>
                     </li>
                  </ul>
                  <div class="s-12 l-5">
                     <ul class="top-ul chevron">
                        <li><a href="fir.html">F.I.R</a>
                        </li>
                        <li><a href="about.html">About Us</a>
                        </li>
                        <li><a href="contact.html">Contact</a>
                        </li>
                     </ul> 
                  </div>
               </div>
            </div>
         </nav>
      </header>
      <section>
         <div id="head">
            <div class="line">
               <h1>Filing a Complaint on National Cyber Crime Reporting Portal</h1>
            </div>
         </div>
         <div id="content">
            <div class="line">
              <!-- <div class="margin"> -->
               
                           
                    This portal is an initiative of Government of India to 
                         facilitate victims/complainants to report cyber crime complaints online. 
                         This portal caters to complaints pertaining to cyber crimes only with 
                         special focus on cyber crimes against women and children. Complaints 
                         reported on this portal are dealt by law enforcement agencies/ police 
                         based on the information available in the complaints. It is imperative 
                         to provide correct and accurate details while filing complaint for prompt action.

                        Please contact local police in case of an emergency or for reporting crimes other 
                        than cyber crimes. National police helpline number is 100. National 
                        women helpline number is 181.
                 
                
                   
              <!-- </div> -->
            </div>
         </div>
         <div id="fourth-block">
            <div class="line">
               <div id="news-carousel" class="owl-carousel owl-theme">
                  <div class="item">
                     <h2>What is the purpose of Cyber Crime portal?</h2>
                     <p class="s-12 m-12 l-8 center">This portal is an initiative of Government of India to facilitate victims/complainants to report cyber crime complaints online. At present this portal caters to complaints pertaining to online Child Pornography (CP)-Child Sexual Abuse Material (CSAM) or sexually explicit content such as Rape/Gang Rape (CP/RGR) content. The portal also provides an option of reporting an anonymous complaint, where complainants are not required to disclose their identity.
                     </p>
                  </div>
                  <div class="item">
                     <h2>What kind of information, will I have to provide for reporting my complaint?</h2>
                     <p class="s-12 m-12 l-8 center">In case of anonymous complaints you do not need to provide any personal information. However, information related to the incident / complaint should be complete for the police authorities to take necessary action.
                           In-case you opt for Report and Track option - Information fields with a red asterisk marks (*) are mandatory. It is very important that the police authorities receive complete information related to the complaint. Therefore, you will need to provide key information such as your name, phone number, email address, details of the incident/ complaint and necessary information supporting the complaint, etc.
                           You will need to register yourself using your mobile number. You will receive a One Time Password (OTP) that will be used to verify your phone number. The OTP is valid for 30 minutes. Once you successfully register your mobile number on the portal, you will be able to report the compliant.
                     </p>
                  </div>
                  <div class="item">
                     <h2>What action will be taken if complainant reports any false complaint/information?</h2>
                     <p class="s-12 m-12 l-8 center">Providing false information could make complainant liable to penal action as per the Indian Penal Code.
                     </p>
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- FOOTER -->   
      <footer>
         <div class="line">
            <div class="s-12 l-6">
               <p>Copyright 2019, Vision Design - graphic zoo
               </p>
            </div>
            <div class="s-12 l-6">
               <p class="right">
                  <a class="right" href="http://www.myresponsee.com" title="Responsee - lightweight responsive framework">Design and coding by Responsee Team</a>
               </p>
            </div>
         </div>
      </footer>
      <script type="text/javascript" src="js/responsee.js"></script> 
      <script type="text/javascript" src="owl-carousel/owl.carousel.js"></script>   
      <script type="text/javascript">
         jQuery(document).ready(function($) {  
           var owl = $('#news-carousel');
           owl.owlCarousel({
              nav: true,
              dots: false,
              items: 1,
              loop: true,
              navText: ["&#xf007","&#xf006"],
              autoplay: true,
              autoplayTimeout: 4000
           });
         });	
          
      </script>  
   </body>
</html>