<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>Login Page</h1><br />
    <a href = "/">Home</a>

    <form name = "signin" method = "post" action = "/dosignin/">
        {% csrf_token %}
    <table align = "center">
        <tr>
            <td>
                Email ID
            </td>
            <td>
                <input type = "text" name = "emailid" />
            </td>
        </tr>
        <tr>
            <td>
                Password
            </td>
            <td>
                <input type = "password" name = "passwd" />
            </td>
        </tr>
        <tr>
            <td colspan = "2" align = "right">
                <input type = "submit" value = "Sign In" />
            </td>
        </tr>
    </table>
    </form>
</body>
</html>